.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050; /* Asegura que esté por encima del modal Bootstrap */
  }
  
  .modal {
    z-index: 1060; /* Asegura que el modal Bootstrap esté por encima del fondo */
  }